.filter-button-list button {
    padding: 5px;
    padding-top: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 0 10px;
    color:  rgb(153, 50, 102);
    background-color: rgb(255, 217, 255);
    text-transform: capitalize;
    font-family: 'Raleway',sans-serif; 
    font-size: 10px; 
    font-weight: 800; 
    line-height: 25px;
    text-align: center; 
    text-transform: uppercase
  }
  .filter-button-list {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
  }
  .data-filter-active {
    background-color: rgb(255, 49, 152);
  }
  
   .date-filter:hover {
    padding-bottom:5px;
  }
  .filter-button-list button:hover {
    background: rgb(255, 108, 255);
  }
