.data-filter-active {
  background: rgb(255, 108, 255);
  color: white;
  padding: 5px;
  padding-top: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 0 10px;

  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.date-filter {
  padding: 5px;
  padding-top: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 0 10px;
  color: rgb(153, 50, 102);
  background-color: rgb(255, 217, 255);
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.filter-button-list {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 10px auto;
}

.date-filter:hover {
  padding-bottom: 5px;
}
.filter-button-list button:hover {
  background: rgb(255, 108, 255);
}
