body {
    height: 100%;
    background: linear-gradient(149deg, rgb(13, 74, 63) 0%, rgb(58, 30, 96) 42%, rgb(98, 13, 78) 72%, rgb(75, 34, 88) 100%);
    animation: gradient-bg 10s infinite linear; 
    background-repeat: no-repeat;
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    text-align: center; 
    text-transform: uppercase;
    padding-bottom: 100px;
    overflow: hidden;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 100% 20%;
    }
    100% {
        background-position: 0% 80%;
    }
  }