.item-todo {
  font-size: large;
    padding: 5px;
    height: 55px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(110, 33, 71, 0.384);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    font-size: 10px;
    bottom: 5px;
    left: -4px;

  }
  

.task-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.item-delete {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    font-size: 22px;
    position: relative;
   
  }
 
  .strike {
    text-decoration: line-through;
    color: rgb(221, 221, 221);
  }


.right-side {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  line-height: 25px;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 5px;
}


.left-side {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  line-height: 25px;
  text-align: center; 
  text-transform: uppercase;
  /* margin-top: px; */
}

.date-task {
  font-size: 15px;
}

.editTask {
  padding: 14px 32px 14px 16px;
  width: 40%;
  border-radius: 4px ;
  border: 2px solid;
  outline: none;
  background: transparent;
  font-size: large;
}
.editTask::placeholder {
  color: darkgray;
  padding: 5px;
  font-size: large;
  padding-left: 0;
}
.item-text {
  margin-left: 15px;
  margin-right: 15px;
  flex-wrap: nowrap;
  word-break: break-all;
  text-align: left;
}