.App {
  text-align: center;
  font-size: large;
  border: 1px solid ;
  border-radius: 10px;
  width: 50%;
  height:100%;
  border-color: rgb(255, 217, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  background: linear-gradient(149deg, rgb(21, 173, 145) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 20s infinite linear; 
  background-size: 400%; 
  background-repeat: no-repeat;
  margin-bottom: 10px;


}

h1 {
  line-height: 72px;
}



.todo-list {
  display: flex;
  flex-direction: column;
  min-height: 403px;
  width: 80%;
  margin-top: 70px;
}
/*
.filter-button:hover {
  color: darkred;
} */
.first-page {
cursor: pointer;
margin-right: 10px;
font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  line-height: 25px;
  text-align: center; 
  text-transform: uppercase;
  color: rgb(255, 217, 255);
}

.last-page {
 cursor: pointer;
 margin-left: 10px;
 font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  line-height: 25px;
  text-align: center; 
  text-transform: uppercase;
  color: rgb(255, 217, 255);
}
.last-page:hover {
  color:  rgb(175, 0, 88);
}
.first-page:hover {
  color:  rgb(175, 0, 88);
}

.pagination-block{
margin-top: 40px;
}
@keyframes gradient {
  0% {
      background-position: 0% 80%;
  }
  50% {
      background-position: 100% 20%;
  }
  100% {
      background-position: 0% 80%;
  }
}