/* .App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}
.task-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App input {
  padding: 14px 32px 14px 16px;
  width: 20%;
  border-radius: 4px ;
  border: 2px solid;
  outline: none;
  background: transparent;
}

.filter-button-list button{
  padding: 16px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 20%;
  background: green;
  color: #fff;
  text-transform: capitalize;
}
.button-save-task {
  padding: 16px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 100px;
  background: green;
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;

  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}

.filter-button-list {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 10px auto;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.page-item {
  margin-right: 10px;
}

.page-link {
  font-size: large;
  color: green;
  text-decoration: none;
  font-size: large;
  font-size: 24px;
}

.page-link:hover{
  color: darkred;
}
.active-page {
  color: darkred
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
} */