.todo-input {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
;
}

.button-save-task {
  padding: 16px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 100px;
  background-color: rgb(255, 217, 255);
  color: rgb(153, 50, 102);
  text-transform: capitalize;
  margin-left: 10px;
  font-family: 'Raleway',sans-serif; 
  font-size: 10px; 
  font-weight: 800; 
  text-align: center; 
  text-transform: uppercase
}
.button-save-task:hover {
  color: darkred;
  background: rgb(255, 108, 255);
}
.input {
  padding: 14px 32px 14px 16px;
  width: 40%;
  border-radius: 2px;
  border: 2px solid;
  outline: none;
  background: transparent;
  color: rgb(255, 217, 255);
  font-size: large;
  overflow-wrap: break-word;
  word-wrap: break-all;
  font-family: 'Raleway',sans-serif; 
  font-size: 10px; 
  font-weight: 800;
  text-transform: uppercase
}
.input:hover {
  border-color: rgb(255, 108, 255);;
}

.input::placeholder {
  color: rgb(221, 221, 221);
  font-family: 'Raleway',sans-serif; 
  font-size: 10px; 
  font-weight: 800; 
  text-transform: uppercase
}